*{
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
/* generic */
body{
    font-family: sans-serif;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

}
/* utility */
.container{
    max-width: 1200px;
    margin: 100px auto;
    border: 2px solid black;
    border-radius: 5px;
}
.d-flex{
    display: flex;
}

/******* CAROUSEL ********/
#carousel {
    flex-basis: 80%;
    height: 400px;
    
    
}
.card{
    height: 100%;
    position: relative;
    display: none;
}
.card.active{
    display: block;
}
.card .text{
    text-align: right;
    color: white;

    position: absolute;
    bottom: 35px;
    right: 20px;
}
/******* THUMBNAILS *******/
#thumbnails{
    flex-basis: 20%;
    height: 400px;

    position: relative;
}
#gallery{
    height: 100%;
}
.cover {
    height: calc(100% / 5);
    cursor: pointer;
}
.cover.active{
    border: 1px solid white;
}
#thumbnails .bi{
    font-size: 25px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
#thumbnails #up{
    top: 5px;
}
#thumbnails #down{
    bottom: 5px;
}